<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule"/>
		</modules>
	</system.webServer>
</configuration>
